body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

h1 {
  align-self: flex-start;
  margin: 0;
  font-weight: 300;
  font-size: 3rem;
}

input {
  display: none;
}

label {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: #4caf50;
  cursor: pointer;
  border: 2px solid #4caf50;
}

label:hover {
  background-color: #4caf5040;
}

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-height: 80vh;
  max-width: 80vw;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  h1 {
    align-self: auto;
  }

  label {
    padding: 1rem 0;
    width: 80vw;
  }
}
